

        section {
            height: auto;
            padding: 1rem;
            box-sizing: border-box;
            position: relative;
            text-align: center;
        }

        article {
            background: #fc7f03;
            width: 60%; /* Reduced width */
            height: 100px; /* Reduced height */
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto; /* Centered */
            border-radius: 10px; /* Rounded edges */
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            text-align: center;
            color: #333;
        }

        .card-body img {
            width: 100%;
            height: 250px; 
            object-fit: cover; 
            transition: transform 0.3s ease-in-out;
        }

       
    